* {
  font-family: 'Raleway', sans-serif;
}

/* Header */

.header-container {
  display: grid;
  grid-template-columns: 1fr 1170px 1fr;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #141414;
}

.header-menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2fr repeat(2, 1fr);
  grid-template-rows: 100px;
  grid-column-gap: 35px;
  align-items: center;
}

.header-menu ul li a {
  opacity: 0.4;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.login a p {
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  width: 90px;
  padding: 14px 26px;
  text-align: center;
}

.get-started a p {
  color: #222328;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 18px;
  padding: 14px 23px;
  width: 130px;
  text-align: center;
}

/* Main banner */

.header-main-text {
  display: grid;
  grid-template-rows: 300px 60px 44px 157px 189px;
  justify-items: center;
  align-items: center;
}

.header-main-text h1 {
  font-size: 62px;
  font-weight: 300;
  color: #fff;
  line-height: 72px;
  text-align: center;
}

.header-main-text p a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
  opacity: 0.3;
  text-align: center;
}

.header-main-text h2 {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  line-height: 36px;
  text-align: center;
}

.header-button {
  outline: none;
  width: 390px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
}

.header-button p {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.4px;
  color: #141414;
  text-transform: uppercase;
}

.header-button:hover {
  cursor: pointer;
}

/* Main */

.main-container {
  display: grid;
  grid-template-columns: 1fr 1170px 1fr;
}

/* Sub menu */

.sub-menu ul {
  display: grid;
  grid-template-columns: 40px 80px 70px 58px 230px 104px 370px 100px;
  grid-template-rows: 100px;
  grid-column-gap: 37px;
  align-items: center;
}

.sub-menu ul li a {
  height: 12px;
  color: #222328;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.sub-menu ul li label {
  height: 15px;
  color: #141414;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
}

.main-divider {
  width: 100%;
}

.sub-menu-email {
  padding-left: 26px;
  color: #141414;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  border: 1px solid  rgba(20, 20, 20, 0.1);
  outline: none;
}

.sub-menu-submit {
  outline: none;
  background-color: #141414;
  color: #ffffff;
  font-family: Raleway;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.65px;
  height: 36px;
  border: none;
  border-radius: 18px;
  position: relative;
  right: 145px;
}

/* Phone features */
.iphone-features {
  display: grid;
  grid-template-rows: 192px 92px 580px 150px 134px;  
  justify-content: center;
  align-items: center;
  height: 1150px;
}

.iphone-features h2 {
  width: 750px;
  height: 73px;
  color: #222328;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
  margin: 0 auto;
}

.iphone-features p {
  width: 531px;
  height: 46px;
  opacity: 0.8;
  color: #222328;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-decoration: center;
  margin: 0 auto;
}

.iphone-features-images {
  display: grid;
  grid-template-columns: 13px 754px 13px;
  grid-column-gap: 100px;
  margin: 0 auto;
}

.iphone-features-images:nth-child(odd) {
  align-items: center;
}

.iphone-features .column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}

.iphone-features .column h3 {
  height: 11px;
  color: #222328;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-bottom: 39px;
}

.iphone-features .column p {
  width: 465px;
  height: 102px;
  opacity: 0.7;
  color: #3a3d4b;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}


.main-components {
  display: grid;
  grid-template-rows: 130px 43px 834px; 
  justify-content: center;
  align-items: center;
  height: 1100px;
  text-align: center;
}

.main-comp {
  width: 111px;
  height: 11px;
  color: #222328;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 0 auto;
}

.main-components h2 {
  width: 933px;
  height: 93px;
  color: #222328;
  font-family: Raleway;
  font-size: 42px;
  font-weight: 300;
  line-height: 52px;
}

.components {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  justify-content: center;
  text-align: center;
}

.components .box1 {
  display: grid;
  grid-template-rows: 300px 97px 28px 197px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  width: 470px;
  height: 600px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 30px 60px rgba(17, 21, 39, 0.15), 0 50px 100px rgba(17, 21, 39, 0.15), 0 40px 80px rgba(17, 21, 39, 0.15);
}

.components .box1 button {
  width: 330px;
  height: 50px;
  border: none;
  box-shadow: 0 30px 60px rgba(27, 233, 56, 0.2), 0 10px 20px rgba(27, 233, 56, 0.2), 0 20px 40px rgba(27, 233, 56, 0.2);
  border-radius: 25px;
  background-color: #1be938;
}

.box1 h3, .box2 h3 {
height: 22px;
color: #222328;
font-family: Raleway;
font-size: 22px;
font-weight: 400;
line-height: 32px;

}

.box1 p, .box2 p {
  width: 295px;
  height: 68px;
  opacity: 0.8;
  color: #3a3d4b;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.box1 span {
  width: 237px;
  height: 10px;
  opacity: 0.7;
  color: #141414;
  font-family: Raleway;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.box2 {
  display: grid;
  grid-template-rows: 300px 97px 28px 250px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  width: 470px;
  height: 600px;
  /* Style for "Placeholde" */
border-radius: 10px;
border: 1px solid rgba(20, 20, 20, 0.1);
}

.box2 p a {
  color: #141414;
  font-weight: bold;
  text-transform: uppercase;
}

.main-clients {
  height: 950px;
  background-color: #141414;
}

.clients {
  display: grid;
  grid-template-rows: 170px 93px 650px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.clients-p {
height: 12px;
color: #ffffff;
font-family: Raleway;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 1.4px;
}

.clients h2 {
width: 907px;
height: 93px;
color: #ffffff;
font-family: Raleway;
font-size: 42px;
font-weight: 300;
line-height: 52px;
margin: 0 auto;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-column-gap: 30px;
}

.reviews-box1, .reviews-box2, .reviews-box3 {
  display: grid;

}

.rew, .brilliant-rew {
  position: absolute;
  width: 288px;
  height: 186px;
  opacity: 0.7;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.first, .second, .third {
  display: grid;
  grid-template-rows: 95px 33px 10px;
  justify-content: center;
  align-content: center;
}

.first {
  position: relative;
  top: -40px;
}

.second {
  position: relative;
  top: 20px;
  left: 10px;
}

.third {
  position: relative;
  top: -120px;
}

.clients-name {
 height: 20px;
color: #ffffff;
font-family: Raleway;
font-size: 20px;
font-weight: 300;
line-height: 28px;
}

.clients-position {
 height: 10px;
opacity: 0.5;
color: #ffffff;
font-family: Raleway;
font-size: 12px;
font-weight: bold;
line-height: 22px;
text-transform: uppercase;
/* Text style for "C, EO & Co" */
letter-spacing: 1.8px;
}

.clients-image {
  margin: 0 auto;
}

.placeholder-1 {
  width: 370px;
  height: 280px;
}

.placeholder-2 {
  width: 370px;
  height: 360px;
}

.placeholder-3 {
  width: 370px;
  height: 170px;
}