* {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  display: grid;
  justify-content: center;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-color: #141414;
}

.header-menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 3fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-column-gap: 35px;
  align-items: center;
}

.header-menu ul img {
  padding-right: 21px;
}

.header-menu ul li a {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  opacity: 0.4;
  text-decoration: none;
}

.login a p {
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  width: 90px;
  padding: 14px 26px;
  text-align: center;
}

.get-started a p {
  color: #222328;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 14px 23px;
  width: 130px;
  text-align: center;
}

.header-main-text {
  display: grid;
  grid-template-rows: 350px 60px 139px 122px 129px;
  justify-items: center;
  align-items: center;
}

.header-main-text h1 {
  font-size: 62px;
  font-weight: 300;
  color: #fff;
  line-height: 72px;
  text-align: center;
}

.header-main-text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
  opacity: 0.3;
  text-align: center;
}

.header-main-text h2 {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  line-height: 36px;
  text-align: center;
}

.header-button {
  outline: none;
  width: 390px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
}

.header-button p {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.4px;
  color: #141414;
  text-transform: uppercase;
}

.header-button:hover {
  cursor: pointer;
}

/* */