/* @media screen and (max-width: 480px) {
  header {
    background-image: none;
    background-color: #141414;
  }
  
  .header-menu ul {
    display: block;
  }

  .header-menu ul li {
    background-color: #fff;
  }

  .logo {
    display: grid;
    margin: 0 auto;
    padding: 20px;
  }
} */